/* All emojis/images belongs to Ancoder */


.blobby-emoji{
	background-image: url('https://static.cdn.ancoder.ml/blobby.png');
	z-index: 1;
	background-size: cover;
	width: 24px;
	height: 23px;
	display: inline-block;
	background-position: 0px 1px;
	background-repeat: no-repeat;
}
.bumdo-emoji{
	background-image: url('https://static.cdn.ancoder.ml/bumdo.png');
	background-size: cover;
  	background-position: 0px 1px;
	width: 24px;
	height: 24px;
	z-index: 1;
	display: inline-block;
	background-repeat: no-repeat;
}
