/* All emojis/images belongs to Ancoder */

.ancoder-emojify{
	z-index: 1;
	background-size: cover;
	display: inline-block;
	background-position: 0px 1px;
	background-repeat: no-repeat;
}

.blobby-emoji{
	background-image: url('https://static.cdn.ancoder.ml/blobby.png');
	width: 24px;
	height: 23px;
}
.bumdo-emoji{
	background-image: url('https://static.cdn.ancoder.ml/bumdo.png');
	width: 24px;
	height: 24px;
}
